openapi: 3.0.3
info:
  title: WPA Protocol Symbols Lab API
  version: 1.1.0
  description: |
    Канонски REST API за читање на верификувани записи на национални симболи
    (знаме, химна, грб, главен град, континент, официјално име) и за поднесување
    дипломатски барања за корекција (DCP — Diplomatic Correction Protocol).

    Доктрина: Преговарањето е опционално. Протоколот е апсолутен.

    Базичен URL (продукција): https://api.worldprotocolacademy.org/v1
    Базичен URL (стејџинг):  https://api-staging.worldprotocolacademy.org/v1

    Changelog v1.0 → v1.1 (Director order, 23 May 2026):
    - Added GET /records/random for Virtual Sande quiz/exercise sampling.
    - POST /corrections now requires X-WPA-API-Key authentication (anti-spam).
    - GET endpoints remain public.
  contact:
    name: WPA Academic & Lab Excellence Office
    email: worldprotocolacademy@gmail.com
  license:
    name: WPA Academic License (read endpoints free for non-commercial use;
      commercial bulk export requires WPA written licence)

servers:
  - url: https://api.worldprotocolacademy.org/v1
    description: Production
  - url: https://api-staging.worldprotocolacademy.org/v1
    description: Staging

tags:
  - name: records
    description: Read access to verified Protocol Symbols records
  - name: corrections
    description: Diplomatic Correction Protocol — state-initiated correction workflow
  - name: meta
    description: Schema, versioning, transparency report

paths:
  /records:
    get:
      tags: [records]
      summary: List all Protocol Symbols records
      parameters:
        - name: continent
          in: query
          schema:
            type: string
            enum: [Europe, Asia, Africa, "North America", "South America", Oceania, Antarctica]
        - name: status
          in: query
          schema:
            type: string
            enum: [fully_verified, partial_consensus, pending_clarification, corrected_by_state]
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        '200':
          description: Array of records (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  count: { type: integer }
                  records:
                    type: array
                    items: { $ref: '#/components/schemas/Record' }

  /records/{record_id}:
    get:
      tags: [records]
      summary: Retrieve a single Protocol Symbols record by WPA ID
      parameters:
        - name: record_id
          in: path
          required: true
          schema: { type: string, pattern: '^WPA-PSL-[0-9]{4}$' }
      responses:
        '200':
          description: Single record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Record' }
        '404':
          description: Record not found

  /records/by-iso/{iso_alpha_2}:
    get:
      tags: [records]
      summary: Retrieve a record by ISO 3166-1 alpha-2 country code
      parameters:
        - name: iso_alpha_2
          in: path
          required: true
          schema: { type: string, pattern: '^[A-Z]{2}$' }
      responses:
        '200':
          description: Single record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Record' }
        '404':
          description: No record for that ISO code

  /records/random:
    get:
      tags: [records]
      summary: Retrieve N pseudo-random verified records (for Virtual Sande quiz/exercise sampling)
      description: |
        Returns a uniformly-sampled subset of records suitable for use by
        WPA learning surfaces (Virtual Sande, Student Desk, Foundation
        Certificate question banks, Protocol Symbols Atlas quizzes).
        By default, only records with verification_status in
        {fully_verified, corrected_by_state} are returned, since quiz
        material must be authoritative. The caller may opt-in to include
        partial_consensus records via the include_partial parameter.
      parameters:
        - name: count
          in: query
          schema:
            type: integer
            default: 5
            minimum: 1
            maximum: 50
        - name: continent
          in: query
          schema:
            type: string
            enum: [Europe, Asia, Africa, "North America", "South America", Oceania, Antarctica]
        - name: include_partial
          in: query
          description: "If true, partial_consensus records are eligible for sampling. Default: false (quiz-grade only)."
          schema:
            type: boolean
            default: false
        - name: seed
          in: query
          description: "Optional deterministic seed for reproducible sampling (useful for daily quiz pinning)."
          schema:
            type: integer
      responses:
        '200':
          description: Array of N randomly-sampled records
          content:
            application/json:
              schema:
                type: object
                properties:
                  sampled_at: { type: string, format: date-time }
                  seed_used: { type: integer, nullable: true }
                  count_returned: { type: integer }
                  eligible_pool_size: { type: integer }
                  records:
                    type: array
                    items: { $ref: '#/components/schemas/Record' }

  /records/{record_id}/audit:
    get:
      tags: [records]
      summary: Retrieve the full audit trail and correction history of a record
      parameters:
        - name: record_id
          in: path
          required: true
          schema: { type: string, pattern: '^WPA-PSL-[0-9]{4}$' }
      responses:
        '200':
          description: Audit trail + correction_layer
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_trail: { type: object }
                  correction_layer: { type: object }

  /corrections:
    post:
      tags: [corrections]
      summary: Submit a Diplomatic Correction Request (Stage 1 — email mirror)
      description: |
        Webform/API equivalent of the official email channel
        (worldprotocolacademy@gmail.com). For Stage 2 (note verbale), use the
        diplomatic channel via the Ministry of Foreign Affairs of the
        Republic of North Macedonia. Returns a WPA-DCR identifier.

        v1.1 (23 May 2026): API key authentication via X-WPA-API-Key is
        REQUIRED on this endpoint to prevent spam. Foreign-ministry contacts
        may request a free API key by writing to worldprotocolacademy@gmail.com
        with their state-organ credentials. The email channel itself remains
        open without an API key.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [record_id, field_affected, requesting_entity, proposed_value, supporting_document]
              properties:
                record_id: { type: string, pattern: '^WPA-PSL-[0-9]{4}$' }
                field_affected: { type: string, example: "flag.adoption_date_current" }
                old_value: {}
                proposed_value: {}
                requesting_entity:
                  type: object
                  properties:
                    name: { type: string }
                    type:
                      type: string
                      enum: [foreign_ministry, embassy_consulate, head_of_state_office, parliament, ministry_of_culture, national_heraldry_office, other_state_organ]
                    country_iso: { type: string }
                    contact_email: { type: string, format: email }
                    contact_officer: { type: string }
                supporting_document:
                  type: string
                  format: binary
                  description: "Scanned PDF of the Official Gazette / law / decree / certified extract."
                supporting_document_url:
                  type: string
                  format: uri
                authorisation_letter:
                  type: string
                  format: binary
      responses:
        '202':
          description: Request accepted; WPA-DCR ID issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id: { type: string, pattern: '^WPA-DCR-[0-9]{4}-[0-9]{4}$' }
                  received_at: { type: string, format: date-time }
                  wpa_response_due_date: { type: string, format: date }
                  status: { type: string, enum: [pending] }

  /corrections/{request_id}:
    get:
      tags: [corrections]
      summary: Track the status of a previously submitted correction request
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string, pattern: '^WPA-DCR-[0-9]{4}-[0-9]{4}$' }
      responses:
        '200':
          description: Current status of the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id: { type: string }
                  status:
                    type: string
                    enum: [pending, approved, rejected, request_more_evidence]
                  decision_at: { type: string, format: date-time }
                  decision_rationale: { type: string }

  /meta/schema:
    get:
      tags: [meta]
      summary: Retrieve the current JSON Schema for records
      responses:
        '200':
          description: JSON Schema document
          content:
            application/schema+json: {}

  /meta/transparency-report:
    get:
      tags: [meta]
      summary: WPA Annual Transparency Report (DCR statistics)
      parameters:
        - name: year
          in: query
          schema: { type: integer, minimum: 2026, maximum: 2100 }
      responses:
        '200':
          description: Aggregated transparency statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  year: { type: integer }
                  requests_received: { type: integer }
                  approved: { type: integer }
                  rejected: { type: integer }
                  request_more_evidence: { type: integer }
                  avg_response_days: { type: number }
                  material_corrections_applied: { type: integer }

components:
  schemas:
    Record:
      description: "Full record per WPA Protocol Symbols Schema v1.0 (see /meta/schema for canonical JSON Schema)."
      type: object
      properties:
        record_id: { type: string }
        iso_3166_alpha_2: { type: string }
        iso_3166_alpha_3: { type: string }
        official_name_en: { type: string }
        official_name_local: { type: object }
        continent: { type: string }
        capital: { type: object }
        flag: { type: object }
        anthem: { type: object }
        coat_of_arms: { type: object }
        verification_status: { type: string }
        verification_status_notes: { type: string }
        sources: { type: array }
        audit_trail: { type: object }
        correction_layer: { type: object }

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-WPA-API-Key
      description: |
        All GET endpoints (/records, /records/{id}, /records/by-iso/{iso},
        /records/random, /records/{id}/audit, /corrections/{id}, /meta/*)
        are **public and require no authentication** — accessible for
        non-commercial, academic, and journalistic use under the WPA
        Academic Licence.

        POST /corrections **requires X-WPA-API-Key** as of v1.1 (anti-spam
        measure ordered by the WPA Director, 23 May 2026). Foreign-ministry
        and state-organ contacts may request a free API key by writing to
        worldprotocolacademy@gmail.com with documentary proof of their
        official capacity. API keys for the DCP endpoint are issued at no
        cost; the DCP itself remains a free public-interest service.

        The original email channel (worldprotocolacademy@gmail.com) remains
        open for correction submissions without any technical credential
        requirement.

security: []
